<h1>Sign up here:</h1>

<form action='/users' method='post'>
  <input type='text' name='email' placeholder='email address'>
  <input type='password' name='pw' placeholder='password'>
  <input type='submit' value='Sign up'>
</form>
