<h1>Sign up here:</h1>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input type='email' name='email' value ='<%= @user.address %>' required>
  </label>
  <label for='pw'>
    Password: <input type='password' name='pw'>
  </label>
  <label for='pw_conf'>
    Confirm password: <input type='password' name='pw_conf'>
  </label>
  <input type='submit' value='Sign up'>
</form>

<% if flash[:errors] && !flash[:errors].empty? %>
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
