<h1> Links </h1>

<form action='/links/new'>
  <input type='submit' value='Add link'>
</form>

<h3>Filter by tags <%= @tags %></h3>
<form action='/tags' method='post'>
  <input type='text' name='tags' placeholder="tags">
  <input type='submit' value='Filter'>
</form>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title:  <%= link.title %>
      URL:    <%= link.url %>
      Tag:    <%= link.tags.first.name %>
    </li>
  <% end %>
</ul>
