<h2>Submit a new link:</h2>
<form action='/links' method='post'>
  <label for='title'>
    Title:
    <input type='text' name='title'/>
  </label>
  <label for='url'>
    URL:
    <input type='text' name='url'/>
  </label>
  <label for='tag'>
    Tag:
    <input type='text' name='tag'/>
  </label>
  <input type='submit' value='Submit'>
</form>
