<form action='/' method='post'>
  <input type='text' name='email' placeholder='email address'>
  <input type='password' name='pw' placeholder='password'>
  <input type='submit' value='Sign up'>
</form>
