<h1> Links... </h1>

<ul id="links">
  <li>
    <% @links.each do |link| %>
    Title: <%= link.title %>
    URL:   <%= link.url %>
    Tags:   <%= link.tags %>
  <li>
  <% end %>
</ul>

<form action="/add_link">
  <button type="submit">Add link</button>
</form>
