<h1> Links... </h1>

<ul id="links">

  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url %>
      Tags:  <%= link.tags.first.tag_name %>
    </li>
  <% end %>
</ul>

<form action="/add_link">
  <button type="submit">Add link</button>
</form>
