<h1> Links... </h1>

<ul id="links">

  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url %>
      Tags:  <%= string = ""
                (link.tags).each { |tag| string << tag.tag_name + ", " }
                string %>
    </li>
  <% end %>
</ul>

<form action="/add_link">
  <button type="submit">Add link</button>
</form>
